<f:render section="main"/>

<table>
	<thead>
	<tr>
		<th>Script</th>
		<th>Author</th>
		<th>Link</th>
	</tr>
	</thead>
	<tbody>
	<tr>
		<td>highlight.js</td>
		<td>Oleg Efimov</td>
		<td><a href="https://github.com/isagalaev" target="_blank" title="GitHub" data-htmlarea-external="1">GitHub</a></td>
	</tr>
	<tr>
		<td>markdown.js</td>
		<td>Dominic Baggott</td>
		<td><a href="https://github.com/evilstreak" target="_blank" title="GitHub" data-htmlarea-external="1">GitHub</a></td>
	</tr>
	<tr>
		<td>marked.js</td>
		<td>Christopher Jeffrey</td>
		<td><a href="https://github.com/chjj" target="_blank" title="GitHub" data-htmlarea-external="1">GitHub</a></td>
	</tr>
	<tr>
		<td>print-pdf.js</td>
		<td>Manuel Bieh</td>
		<td><a href="https://github.com/manuelbieh" target="_blank" data-htmlarea-external="1">GitHub</a></td>
	</tr>
	<tr>
		<td>search.js</td>
		<td>Jon Snyder</td>
		<td></td>
	</tr>
	<tr>
		<td>reveal.js and others</td>
		<td>Hakim El Hattab</td>
		<td><a href="https://github.com/hakimel" target="_blank" title="GitHub" data-htmlarea-external="1">GitHub</a></td>
	</tr>
	</tbody>
</table>
